cachetools==2.0.0
click==6.7
dnspython==1.15.0
docker==2.1.0
docker-pycreds==0.2.1
enum-compat==0.0.2
eventlet==0.20.1
Flask==0.12.1
Flask-HTTPAuth==3.2.2
Flask-SocketIO==2.8.6
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
MicroFlack-Common==0.3
PyJWT==1.4.2
python-dotenv==0.6.4
python-engineio==1.4.0
python-etcd==0.4.5
python-socketio==1.7.4
redis==2.10.5
requests==2.13.0
six==1.10.0
urllib3==1.20
websocket-client==0.40.0
Werkzeug==0.15.3
